.snake-part {
  position: absolute;
  background-color: grey;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.board {
  position: relative;
  top: 8vh;
}

.allScore {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 2vh 2vh;
  box-sizing: border-box;
  color: white;
  background: orangered;
  z-index: 200;
}

.apple {
  position: absolute;
  background-color: tomato;
  width: 10px;
  height: 10px;
}

.replay__button {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  background: white;
  border-radius: 50px;
  padding: 10px 40px;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: orangered;
  border: 2px solid transparent;
  transform: translate(-50%, -50%);
}

.container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100vh !important;
  width: 100vw !important;
  overflow: hidden !important;
  font-family: Arial, Helvetica, sans-serif;

}

h2 {
  font-size: 1.5em;
}