body{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color:white;
  font-family: 'Athiti', sans-serif;
}
#toDoList{
  width: 500px;
  background-color: black;
  height:auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align:center;
}

h1{
  width: 100%;
  text-align: center;
  color: #2b4692;
}
.groupe-input{
  height:24px;
  background-color: #2b4692;
  padding: 0;
  margin: 0;
  border: none;
  width:300px;
  padding: 15px;
  border-radius: 50px;
  display: flex;
  margin: 0 auto;
  
  button{
    background-color: rgb(255, 255, 255);
    color: #2b4692;
    font-weight: bold;
    height: 30px;
    width: 30px;
    border:none;
    border-radius: 50px;
    font-size: 18px;
  }
}

input{
  color: white;
  font-weight: 800;
  width: 90%;
  height: 100%;
  border: none;
  background: none;
  font-size:16px;
  padding: 0 20px;
}

.block__clearAll{
  width: 100%;
  text-align: center;
}

.clearAll{
  background-color: #2b4692;
  color: white;
  font-weight: 800;
  padding: 20px;
  margin: 0 auto;
  border-radius: 50px;
  border: 2px solid transparent;
  &:hover{
    border: 2px solid #2b4692;
    color: #2b4692;
  }

}

*:focus{
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  font-size: 16px;
  opacity: 0.4;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  font-size: 16px;
  opacity: 0.4;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
  font-size: 16px;
  opacity: 0.4;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
  font-size: 16px;
  opacity: 0.4;
}

button:hover{
  border: 3px solid #9E2A40;
  background: white;
  color: #9E2A40;
}
ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:500px;
  height:100%;
  margin:10px;
  padding:0;

  .allbutton{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
}
ul li{
  width:500px;
  background-color:white;
  height: 60px;
  color:#2b4692;
  border: 3px solid #2b4692;
  border-radius: 50px;
  display: flex;
  align-items:center;
  justify-content: flex-end;
  margin: 10px 0;
}
li p{
  width:70%;
  text-align: left;
  padding:10px 30px;
}
.btn{
  width:40px;
  height:40px;
  border:none;
  border-radius: 100%;
  margin: 10px;
  color: white;
  background-color: #9E2A40;
  font-weight: bold;
  height: 30px;
  width: 30px;
  border:none;
  border-radius: 50px;
  font-size: 18px;
}
.btn:nth-child(1){
  border: 3px solid #2b4692;
  background: white;
  color: #2b4692;
}
.done{
  p{
    text-decoration: line-through;
  }
}