body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.users{
  &__item{
    text-align: center;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.4);
    padding: 30px;
    width: 300px;
  }
  &__picture{ border-radius: 100%; }
  li{
    list-style: none;
    line-height: 1.6em;
  }
  ul{
    padding: 0;
    text-align: left;
  }
  strong{font-size: 16px;}
}

.active{ color: blue; }
.groupe__input{
  display: flex;
  align-items: center;
  p{margin-right: 5px;}
}

.new-post{
  text-decoration: line-through;
}